:root{
/* Primary */

--orange: hsl(25, 97%, 53%);

/* Neutral */

--white: hsl(0, 0%, 100%);
--lightGrey: hsl(217, 12%, 63%);
--darkBlue: hsl(213, 19%, 18%);
--veryDarkBlue: hsl(216, 12%, 8%);

font-size: 15px;
}
*{
    box-sizing: border-box;
}

body{
    background-color: var(--veryDarkBlue);
    display: flex;
    align-content: center;
    line-height: 1.5rem;
    font-size: 1rem;
    font-family: 'overpass', sans-serif;
    min-height: 100vh;
    margin: auto auto;
}
main{
    margin: auto auto;
    /* width: clamp(320px, 80%, 600px); */
}
section{
    background-color: var(--darkBlue);
    border-radius: 10px;
    margin: auto auto;
    width: clamp(300px, 80%, 500px);
    padding: 25px 18px;
}
.star{
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 50%;
    padding: 20px;
}
h1, h2{
    color: var(--white);
}
p, .button{
    color: var(--lightGrey);
}
.buttons-ul{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 18px;
    justify-content: space-between;
    margin: 30px auto;
    padding: 0;
}
li{
    justify-self: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.button{
    border: 0;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.06);
    padding: 15px;
}

.selected{
    background-color: var(--white);
    color: var(--veryDarkBlue);
}
.submit-btn{
    background-color: var(--orange);
    border: 0;
    border-radius: 22px;
    color: var(--veryDarkBlue);
    height: 40px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    width: 100%;
}

.message{
    display: none;
    text-align: center;
}
.rating{
    background-color: rgba(255, 255, 255, 0.06);
    border-radius: 13px;
    color: hsla(25, 97%, 53%, 0.747);
    padding: 4px 20px;
    width: fit-content;
    margin: 10px auto;
}
@media screen and (min-width:500px) {
    body{
        font-size: 1.3rem;
    }
    section{
        padding: 40px;
    }   
    .buttons-div{
        column-gap: 30px;
    }
}

@media screen and (min-width:960px) {
    .button:hover{
        background-color: var(--orange);
        color: var(--veryDarkBlue);
        cursor: pointer;
    }
    .submit-btn:hover{
        background-color: var(--white);
        cursor: pointer;
    }
}